<html>

<head>
    <title>Trucker Maps | Home</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body align=center>
    <br>
    <h1 align=center id="welcome-msg">Welcome, {{ usern }}</h1>
    <div>
        <a href="/profile">Profile Page</a>
        <a href="/logout">Logout</a>
    </div>

    <br>

    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11878.39932087234!2d-88.25004333145303!3d41.901462471930415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880eff25238ffb55%3A0x5791996eae56ec23!2sLibbey%20West%20Chicago%20Distribution%20Center!5e0!3m2!1sen!2sus!4v1636498990727!5m2!1sen!2sus"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" id="google-maps-embed">
    </iframe>

    <br>

    <div id="add-location-container">
        <h2>Add a new warehouse location:</h2>

        {% if get_flashed_messages() %}
        <ul class="flashes">
            {% for msg in get_flashed_messages() %}
            <li>{{msg}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% for i in range(len) %}
        <p class="art_str">{{warehouses[i]}}</p>
        {% endfor %}

        <form action="/home" method="POST">
            <input type="text" name="location-to-add" placeholder="Enter address" required>
            <input type="submit" value="Add Location" id="add-location-submit">
        </form>


    </div>

    <br>




</body>

</html>