<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.3/js/foundation.min.js"></script>
</head>

<body>
    <div class="background">
        <div class="blur"></div>
    </div>
    <h1> Invalid Login </h1>
    <div style="vertical-align: middle;"></div>
    <h3> User does not exist </h3>
    <p class="art_str"> Please try again, or register an account </p>
    <a class="link" href="/login">
        Login
    </a>
    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
    <br><br>

</body>

</html>