<html>

<head>
    <title></title>
    <link rel="stylesheet" href="/static/styles.css" />
</head>

<body align=center>

    <!-- LANDING PAGE ABOVE LOGIN -->
    <div id="landing-div">

        <div id="landing-content">
            <h1>Trucker Maps</h1>
            <br>
            <h2>Our Goal:</h2>
            <p>Get truckers to their destination on time. </p>
            <br>
            <h2>Our Impact:</h2>
            <p>Nowadays, everyone - from individuals to corporations - depends on a reliable supply chain.</p>
            <br>
            <h2>Our Team:</h2>
            <p>Amanuel Larebo, Kofi Osae, Sai Tippana, Nicholas Covington</p>
            <br>
            <a href="#sign-up-msg">Get Started</a>
        </div>

    </div>
    <!-- END OF LANDING PAGE -->


    <br><br><br>





    <div class="lgin">
        <h2 align=center>User Login</h2>

        <img id="login-photo" src="/static/profpic.jpg" alt="">
        <div></div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="invalid_pwd" role="alert">
            {{message}}
            <p class="art_str">Try Again</p>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <div id="input">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                {{ form.username }}<br>
                <br>
                {{ form.password }}<br>
                <br><br>
                {{ form.submit }}
            </form>
            <a id="sign-up-msg" href="/signup">Don't have an account? Sign up here!</a>
        </div>


    </div>

    <br><br>


    <!--         <form name="lgnform" id="lgnform" method='POST' action ="/login">
            <img src="/static/profpic.jpg" alt=""><br><br>
            <input type="text" title="username" id="uname" placeholder="username" />
            <input type="password" title="password" id="psw" placeholder="password" />
            <button type="submit" class="btn" class="btn1" name="btn" value="login">Login</button>
            <button type="submit" class="btn" class="btn2" name="btn" value="signuppage">Signup</button>
        </form>
    </div> -->

</body>

</html>