<html>

<head>
    <title></title>
    <link rel="stylesheet" href="/static/styles.css" />
</head>

<body>
    <div class="lgin">
        <h2 align=center>User Login</h2>
        <form name="lgnform" id="lgnform" method='POST' action ="/login">
            <img src="/static/profpic.jpg" alt=""><br><br>
            <input type="text" title="username" id="uname" placeholder="username" />
            <input type="password" title="password" id="psw" placeholder="password" />
            <button type="submit" class="btn" class="btn1" name="btn" value="login">Login</button>
            <button type="submit" class="btn" class="btn2" name="btn" value="signuppage">Signup</button>
        </form>
    </div>
</body>

</html>