<html>

<head>
    <title></title>
    <link rel="stylesheet" href="/static/styles.css" />
</head>

<body align=center>
    <div class="lgin">
        <h2 align=center>User Login</h2>

        <img src="/static/profpic.jpg" alt="">
        <div></div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="invalid_pwd" role="alert">
            {{message}}
            <p class="art_str">Try Again</p>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <div id="input">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                {{ form.username }}<br>
                <br>
                {{ form.password }}<br>
                <br><br>
                {{ form.submit }}
            </form>
            <a href="/signup">Don't have an account? Sign up here!</a>
        </div>


    </div>


<!--         <form name="lgnform" id="lgnform" method='POST' action ="/login">
            <img src="/static/profpic.jpg" alt=""><br><br>
            <input type="text" title="username" id="uname" placeholder="username" />
            <input type="password" title="password" id="psw" placeholder="password" />
            <button type="submit" class="btn" class="btn1" name="btn" value="login">Login</button>
            <button type="submit" class="btn" class="btn2" name="btn" value="signuppage">Signup</button>
        </form>
    </div> -->

</body>

</html>